<template>
  <div v-if="!loading">
    <employee-navbar
      :page-title="pageTitle"
      :breadcrumb-menu="breadcrumbMenu"
      :is-secondary-page="isSecondaryPage"
      :page-type="pageType"
      :current-employee-id="currentEmployee.id"
      @goTo="goTo"
      @handleFormReset="handleFormReset"
    />
    <b-container fluid class="p-3">
      <employee-form
        :editable="true"
        :edit="true"
        :employee="currentEmployee"
        @submit="editEmployee"
        @deactivate="onDeactivate"
        @activate="onActivate"
      />
    </b-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { provide, consume } from 'provide-consume-decorator'
import { getModule } from 'vuex-module-decorators'
import { Dictionary } from 'vue-router/types/router'
import { path } from 'ramda'
import { Employee, EditEmployeePayload } from '@/types/employee'
import { Translation } from '@/utils'
import Form from '@/components/Employee/EmployeeForm.vue'
import EmployeeStore from '@/store/modules/employee'
import EmployeeNavbar from '@/components/Employee/EmployeeNavbar.vue'

interface Store {
  employee: EmployeeStore
}

@Component({
  components: {
    'employee-form': Form,
    'employee-navbar': EmployeeNavbar
  },
  head() {
    return {
      title: `Edit an Employee`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'You can edit an employee'
        }
      ]
    }
  }
})
@provide({
  store(): Store {
    return {
      employee: getModule(EmployeeStore, this.$store)
    }
  }
})
export default class EmployeeView extends Vue {
  @consume('store') store!: Store

  private pageTitle: string | null = null

  private pageType = 'Edit'

  private thirdLevelBreadcrumb = {
    cursor: 'default',
    'text-decoration': 'none',
    color: '#cacaca'
  }

  private breadcrumbMenu = [
    {
      text: 'Employees',
      func: this.handleFormReset
    },
    {
      text: 'View & Manage',
      func: this.handleFormReset
    },
    {
      text: 'Modify',
      style: this.thirdLevelBreadcrumb
    }
  ]

  private isSecondaryPage = true

  private loading = true

  private employee: Employee | null = null

  get currentEmployee() {
    return this.employee
  }

  editEmployee(
    payload: EditEmployeePayload,
    fields: string[],
    endpoint: string
  ) {
    this.store.employee
      .editEmployeeField({ payload, fields, endpoint })
      .then((changed: boolean) => {
        console.log('res', changed)
        if (changed) {
          Vue.notify({
            group: 'app',
            text: Translation.EDIT_EMPLOYEE_FIELD_SUCCESS
          })
        }
      })
  }

  onDeactivate(id: string) {
    this.store.employee.deactivateEmployee(id)
  }

  onActivate(id: string) {
    this.store.employee.activateEmployee(id)
  }

  goTo(name: string, id?: string) {
    const params = {} as Dictionary<string>
    if (id) {
      params.id = id
    }
    this.$router.push({ name, params })
  }

  handleFormReset() {
    this.goTo('employees')
  }

  created() {
    if (!path(['$route', 'params', 'id'], this)) {
      this.$router.replace({ name: 'employee' })
    } else {
      this.loading = true
      this.store.employee.getEmployee(this.$route.params.id).then((res) => {
        this.loading = false
        this.employee = res
        this.pageTitle = this.employee.displayName
      })
    }
  }
}
</script>
