<template>
  <b-dropdown
    toggle-class="action-btn p-0"
    menu-class="action-menu"
    boundary="window"
    no-caret
  >
    <template v-slot:button-content>
      <a>
        <i class="i-more-1" />
      </a>
    </template>
    <b-dropdown-item
      :href="`/employees/view/${employee}`"
      @click.prevent="onView"
    >
      View
    </b-dropdown-item>
    <b-dropdown-item
      :href="`/employees/edit/${employee}`"
      @click.prevent="onEdit"
    >
      Edit
    </b-dropdown-item>
    <b-dropdown-item
      v-if="activeTab === 'Active'"
      href="#"
      @click.prevent="onDeactivate"
    >
      Deactivate
    </b-dropdown-item>
    <b-dropdown-item
      v-else-if="activeTab === 'Archived'"
      href="#"
      @click.prevent="onActivate"
    >
      Activate
    </b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ActionButtons',
  props: {
    employee: { type: [String, Number], default: '' },
    activeTab: { type: String, default: '' }
  },
  methods: {
    onView() {
      this.$emit('viewEmployee', 'employees-view-id', this.employee)
    },
    onEdit() {
      this.$emit('editEmployee', 'employees-edit-id', this.employee)
    },
    onDeactivate() {
      this.$emit('deactivateEmployee', this.employee)
    },
    onActivate() {
      this.$emit('activateEmployee', this.employee)
    }
  }
})
</script>

<style>
.action-btn,
.action-btn:focus {
  display: block;
  padding: 11px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  border-style: none;
  text-align: center;
  outline: none;
  background-color: #f7f7f7;
  color: #13bc74;
}

.action-btn:hover {
  background-color: #13bc74;
  color: #fff;
}

.action-menu {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  min-width: 130px;
}

.action-menu li a {
  color: rgb(79, 79, 79);
  font-size: 15px;
}

.action-menu li:hover a {
  color: #13bc74;
  background-color: #fff;
}

.i-more-1:before {
  font-size: 15px;
  content: '\e93e';
}
</style>
