<template>
  <div class="d-flex flex-column">
    <employee-navbar
      :page-title="pageTitle"
      :breadcrumb-menu="breadcrumbMenu"
      :is-secondary-page="isSecondaryPage"
      :page-type="pageType"
      @goTo="goTo"
      @handleFormReset="handleFormReset"
      @submit="onSubmit"
    />
    <employee-form ref="form" :editable="true" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { provide, consume } from 'provide-consume-decorator'
import { getModule } from 'vuex-module-decorators'
import { Dictionary } from 'vue-router/types/router'
import Form from '@/components/Employee/EmployeeForm.vue'
import { CreateEmployee } from '@/types/employee'
import { getErrorMessage, Translation } from '@/utils'
import EmployeeStore from '@/store/modules/employee'
import EmployeeNavbar from '@/components/Employee/EmployeeNavbar.vue'

interface Store {
  employee: EmployeeStore
}

@Component({
  components: { 'employee-form': Form, EmployeeNavbar },
  head() {
    return {
      title: 'Create an Employee',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'You can create a new employee'
        }
      ]
    }
  }
})
@provide({
  store(): Store {
    return {
      employee: getModule(EmployeeStore, this.$store)
    }
  }
})
export default class EmployeeCreate extends Vue {
  @consume('store') store!: Store

  private pageTitle = 'Add a New Employee'

  private pageType = 'Create'

  private thirdLevelBreadcrumb = {
    cursor: 'default',
    'text-decoration': 'none',
    color: '#cacaca'
  }

  private breadcrumbMenu = [
    {
      text: 'Employees',
      func: this.handleFormReset
    },
    {
      text: 'View & Manage',
      func: this.handleFormReset
    },
    {
      text: 'Add New',
      style: this.thirdLevelBreadcrumb
    }
  ]

  private isSecondaryPage = true

  goTo(name: string, id?: string) {
    const params = {} as Dictionary<string>
    if (id) {
      params.id = id
    }
    this.$router.push({ name, params })
  }

  handleFormReset() {
    this.goTo('employees')
  }

  onSubmit() {
    const data = (this.$refs.form as Vue & {
      handleSubmit: () => CreateEmployee
    }).handleSubmit()

    if (!data) return

    this.store.employee
      .createEmployee(data)
      .then(() => {
        Vue.notify({
          group: 'app',
          text: Translation.ADDING_EMPLOYEE_SUCCESS
        })
      })
      .catch((e) => {
        const errorMessage = getErrorMessage(e)
        if (errorMessage) {
          Vue.notify({
            group: 'app',
            text: errorMessage || Translation.ADDING_EMPLOYEE_FAIL
          })
        }
      })
  }
}
</script>
