@font-face {
  font-family: 'kiwi';
  src: url('../fonts/kiwi.eot?29t4c9');
  src: url('../fonts/kiwi.eot?29t4c9#iefix') format('embedded-opentype'),
    url('../fonts/kiwi.ttf?29t4c9') format('truetype'),
    url('../fonts/kiwi.woff?29t4c9') format('woff'),
    url('../fonts/kiwi.svg?29t4c9#kiwi') format('svg');
  font-weight: normal;
  font-style: normal;
}

.btn-icon {
  display: block;
  padding: 11px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  font-weight: 800;
  text-align: center;
}

.btn-icon:hover {
  background-color: #13bc74;
  color: #fff;
}

i {
  font-family: 'kiwi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chevron-down:before {
  content: '\e9ad';
}

.i-chevron-left:before {
  content: '\e9ae';
}

.i-chevron-right:before {
  content: '\e9af';
}

.i-chevron-up:before {
  content: '\e9b0';
}

.i-add:before {
  content: '\e900';
}

.i-bar-chart:before {
  content: '\e901';
}

.i-book:before {
  content: '\e902';
}

.i-bookmark:before {
  content: '\e903';
}

.i-cancel:before {
  content: '\e904';
}

.i-check-mark:before {
  content: '\e905';
}

.i-check:before {
  content: '\e906';
}

.i-checked:before {
  content: '\e907';
}

.i-close:before {
  content: '\e908';
}

.i-communication-1:before {
  content: '\e909';
}

.i-communication-2:before {
  content: '\e90a';
}

.i-communication-3:before {
  content: '\e90b';
}

.i-communication-4:before {
  content: '\e90c';
}

.i-communication-5:before {
  content: '\e90d';
}

.i-communication-6:before {
  content: '\e90e';
}

.i-communication:before {
  content: '\e90f';
}

.i-cursor-1:before {
  content: '\e910';
}

.i-cursor-2:before {
  content: '\e911';
}

.i-cursor:before {
  content: '\e912';
}

.i-delete:before {
  content: '\e913';
}

.i-dislike-1:before {
  content: '\e914';
}

.i-dislike:before {
  content: '\e915';
}

.i-down-arrow:before {
  content: '\e916';
}

.i-download-1:before {
  content: '\e917';
}

.i-download-2:before {
  content: '\e918';
}

.i-download:before {
  content: '\e919';
}

.i-edit:before {
  content: '\e91a';
}

.i-email-1:before {
  content: '\e91b';
}

.i-email:before {
  content: '\e91c';
}

.i-expand-1:before {
  content: '\e91d';
}

.i-expand:before {
  content: '\e91e';
}

.i-export:before {
  content: '\e91f';
}

.i-forbidden:before {
  content: '\e920';
}

.i-heart-1:before {
  content: '\e921';
}

.i-heart-2:before {
  content: '\e922';
}

.i-heart:before {
  content: '\e923';
}

.i-import-1:before {
  content: '\e924';
}

.i-import-2:before {
  content: '\e925';
}

.i-import:before {
  content: '\e926';
}

.i-left-arrow-1:before {
  content: '\e927';
}

.i-left-arrow:before {
  content: '\e928';
}

.i-letter:before {
  content: '\e929';
}

.i-levels-1:before {
  content: '\e92a';
}

.i-levels:before {
  content: '\e92b';
}

.i-like-1:before {
  content: '\e92c';
}

.i-like:before {
  content: '\e92d';
}

.i-list-1:before {
  content: '\e92e';
}

.i-list-2:before {
  content: '\e92f';
}

.i-list-3:before {
  content: '\e930';
}

.i-list-4:before {
  content: '\e931';
}

.i-list:before {
  content: '\e932';
}

.i-login:before {
  content: '\e933';
}

.i-logout:before {
  content: '\e934';
}

.i-megaphone:before {
  content: '\e935';
}

.i-menu-1:before {
  content: '\e936';
}

.i-menu-2:before {
  content: '\e937';
}

.i-menu:before {
  content: '\e938';
}

.i-microphone:before {
  content: '\e939';
}

.i-minimize-1:before {
  content: '\e93a';
}

.i-minimize-2:before {
  content: '\e93b';
}

.i-minimize-3:before {
  content: '\e93c';
}

.i-minimize:before {
  content: '\e93d';
}

.i-more-1:before {
  content: '\e93e';
}

.i-more:before {
  content: '\e93f';
}

.i-move-1:before {
  content: '\e940';
}

.i-move:before {
  content: '\e941';
}

.i-mute:before {
  content: '\e942';
}

.i-networking:before {
  content: '\e943';
}

.i-next-1:before {
  content: '\e944';
}

.i-next:before {
  content: '\e945';
}

.i-organization:before {
  content: '\e946';
}

.i-orientation:before {
  content: '\e947';
}

.i-padlock-1:before {
  content: '\e948';
}

.i-padlock:before {
  content: '\e949';
}

.i-paper-plane:before {
  content: '\e94a';
}

.i-password:before {
  content: '\e94b';
}

.i-photo-camera:before {
  content: '\e94c';
}

.i-picture:before {
  content: '\e94d';
}

.i-pie-chart-1:before {
  content: '\e94e';
}

.i-pie-chart-2:before {
  content: '\e94f';
}

.i-pie-chart:before {
  content: '\e950';
}

.i-placeholder:before {
  content: '\e951';
}

.i-plus:before {
  content: '\e952';
}

.i-previous-1:before {
  content: '\e953';
}

.i-previous:before {
  content: '\e954';
}

.i-repeat-1:before {
  content: '\e955';
}

.i-repeat-2:before {
  content: '\e956';
}

.i-repeat-3:before {
  content: '\e957';
}

.i-repeat-4:before {
  content: '\e958';
}

.i-repeat-5:before {
  content: '\e959';
}

.i-repeat-6:before {
  content: '\e95a';
}

.i-repeat-7:before {
  content: '\e95b';
}

.i-repeat-8:before {
  content: '\e95c';
}

.i-repeat-9:before {
  content: '\e95d';
}

.i-repeat:before {
  content: '\e95e';
}

.i-right-arrow-1:before {
  content: '\e95f';
}

.i-right-arrow:before {
  content: '\e960';
}

.i-save:before {
  content: '\e961';
}

.i-search:before {
  content: '\e962';
}

.i-shuffle:before {
  content: '\e963';
}

.i-smartphone-1:before {
  content: '\e964';
}

.i-smartphone:before {
  content: '\e965';
}

.i-sort-1:before {
  content: '\e966';
}

.i-sort:before {
  content: '\e967';
}

.i-speaker:before {
  content: '\e968';
}

.i-speech-bubble-1:before {
  content: '\e969';
}

.i-speech-bubble-2:before {
  content: '\e96a';
}

.i-speech-bubble-3:before {
  content: '\e96b';
}

.i-speech-bubble-4:before {
  content: '\e96c';
}

.i-speech-bubble-5:before {
  content: '\e96d';
}

.i-speech-bubble-6:before {
  content: '\e96e';
}

.i-speech-bubble-7:before {
  content: '\e96f';
}

.i-speech-bubble-8:before {
  content: '\e970';
}

.i-speech-bubble-9:before {
  content: '\e971';
}

.i-speech-bubble-10:before {
  content: '\e972';
}

.i-speech-bubble-11:before {
  content: '\e973';
}

.i-speech-bubble-12:before {
  content: '\e974';
}

.i-speech-bubble-13:before {
  content: '\e975';
}

.i-speech-bubble-14:before {
  content: '\e976';
}

.i-speech-bubble-15:before {
  content: '\e977';
}

.i-speech-bubble-16:before {
  content: '\e978';
}

.i-speech-bubble-17:before {
  content: '\e979';
}

.i-speech-bubble-18:before {
  content: '\e97a';
}

.i-speech-bubble-19:before {
  content: '\e97b';
}

.i-speech-bubble-20:before {
  content: '\e97c';
}

.i-speech-bubble-21:before {
  content: '\e97d';
}

.i-speech-bubble-22:before {
  content: '\e97e';
}

.i-speech-bubble-23:before {
  content: '\e97f';
}

.i-speech-bubble-24:before {
  content: '\e980';
}

.i-speech-bubble-25:before {
  content: '\e981';
}

.i-speech-bubble-26:before {
  content: '\e982';
}

.i-speech-bubble-27:before {
  content: '\e983';
}

.i-speech-bubble-28:before {
  content: '\e984';
}

.i-speech-bubble:before {
  content: '\e985';
}

.i-star:before {
  content: '\e986';
}

.i-stick-man-1:before {
  content: '\e987';
}

.i-stick-man-2:before {
  content: '\e988';
}

.i-stick-man-3:before {
  content: '\e989';
}

.i-stick-man-4:before {
  content: '\e98a';
}

.i-stick-man:before {
  content: '\e98b';
}

.i-sticker-1:before {
  content: '\e98c';
}

.i-sticker-2:before {
  content: '\e98d';
}

.i-sticker-3:before {
  content: '\e98e';
}

.i-sticker-4:before {
  content: '\e98f';
}

.i-sticker:before {
  content: '\e990';
}

.i-tap:before {
  content: '\e991';
}

.i-telephone-1:before {
  content: '\e992';
}

.i-telephone-2:before {
  content: '\e993';
}

.i-telephone-3:before {
  content: '\e994';
}

.i-telephone-4:before {
  content: '\e995';
}

.i-telephone-5:before {
  content: '\e996';
}

.i-telephone-6:before {
  content: '\e997';
}

.i-telephone-7:before {
  content: '\e998';
}

.i-telephone-8:before {
  content: '\e999';
}

.i-telephone:before {
  content: '\e99a';
}

.i-transfer-1:before {
  content: '\e99b';
}

.i-transfer-2:before {
  content: '\e99c';
}

.i-transfer-3:before {
  content: '\e99d';
}

.i-transfer-4:before {
  content: '\e99e';
}

.i-transfer-5:before {
  content: '\e99f';
}

.i-transfer-6:before {
  content: '\e9a0';
}

.i-transfer-7:before {
  content: '\e9a1';
}

.i-transfer-8:before {
  content: '\e9a2';
}

.i-transfer-9:before {
  content: '\e9a3';
}

.i-transfer-10:before {
  content: '\e9a4';
}

.i-transfer:before {
  content: '\e9a5';
}

.i-up-arrow:before {
  content: '\e9a6';
}

.i-upload-1:before {
  content: '\e9a7';
}

.i-upload-2:before {
  content: '\e9a8';
}

.i-upload:before {
  content: '\e9a9';
}

.i-user-1:before {
  content: '\e9aa';
}

.i-user-2:before {
  content: '\e9ab';
}

.i-user:before {
  content: '\e9ac';
}
