<template>
  <b-container class="form-container mt-3">
    <b-form @submit.stop.prevent="handleSubmit">
      <b-row>
        <b-col>
          <v-gravatar
            class="avatar-form"
            :email="companyEmail"
            default-img="retro"
          />
          <b-row>
            <b-col class="tags-container">
              <TagsInput
                id="tags"
                v-model="tags"
                name="tags"
                label="TAGS"
                :state="validateState('tags')"
                :editable="editable"
                :edit="edit"
                @edit-employee="doEdit('tags')"
              />
            </b-col>
          </b-row>
        </b-col>

        <b-col cols="6">
          <b-col>
            <b-col>
              <Input
                id="displayName"
                v-model.trim="$v.displayName.$model"
                name="displayName"
                label="Display Name"
                :state="validateState('displayName')"
                invalid-feedback="This is a required field"
                :class="{ required: editable }"
                :editable="editable"
                @keyup="doEdit('displayName')"
              />
              <b-row>
                <b-col cols="6">
                  <Input
                    id="firstName"
                    v-model.trim="$v.firstName.$model"
                    name="firstName"
                    label="First Name"
                    :state="validateState('firstName')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    @keyup="doEdit('names')"
                  />
                  <Input
                    id="lastName"
                    v-model.trim="$v.lastName.$model"
                    name="lastName"
                    label="Last Name"
                    :state="validateState('lastName')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    @keyup="doEdit('names')"
                  />
                  <Select
                    id="gender"
                    v-model.trim="$v.gender.$model"
                    name="gender"
                    label="Gender"
                    :options="[
                      { value: '', text: 'Choose one' },
                      'Male',
                      'Female'
                    ]"
                    :state="validateState('gender')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    :style="[edit ? { display: 'none' } : {}]"
                  />
                  <DatePicker
                    id="startDate"
                    v-model="$v.startDate.$model"
                    name="startDate"
                    label="Start Date"
                    :state="validateState('startDate')"
                    :class="{ required: editable }"
                    :editable="editable"
                    :style="[edit ? { display: 'none' } : {}]"
                  />
                </b-col>
                <b-col cols="6">
                  <Input
                    id="middleName"
                    v-model.trim="$v.middleName.$model"
                    name="middleName"
                    label="Middle Name"
                    :editable="editable"
                    @keyup="doEdit('names')"
                  />
                  <Input
                    id="secondLastName"
                    v-model.trim="$v.secondLastName.$model"
                    name="secondLastName"
                    label="Second Last Name"
                    :editable="editable"
                    @keyup="doEdit('names')"
                  />
                </b-col>
              </b-row>
            </b-col>
            <b-col cols="12">
              <label class="group-label">SALARY</label>
              <Radio
                id="salaryType"
                v-model="$v.salaryType.$model"
                name="salaryType"
                type="number"
                :state="validateState('salaryType')"
                invalid-feedback="This is a required field"
                :editable="editable"
                :options="salaryTypes"
                @change="doEdit('salaryType')"
              />
              <b-row>
                <b-col cols="6">
                  <Input
                    id="salary"
                    v-model="$v.salary.$model"
                    name="salary"
                    label="Set amount"
                    type="number"
                    :state="validateState('salary')"
                    invalid-feedback="Value must be greater or equal to 0.01"
                    :class="{ required: editable }"
                    :editable="editable"
                    @keyup="doEdit('salary')"
                  />
                </b-col>
                <b-col cols="6">
                  <DatePicker
                    id="effectiveDate"
                    v-model="$v.effectiveDate.$model"
                    name="effectiveDate"
                    label="Effective Date"
                    :state="validateState('effectiveDate')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    @input="doEdit('effectiveDate')"
                  />
                </b-col>
              </b-row>
            </b-col>
            <b-col cols="6">
              <label class="group-label">CONTACT INFO</label>
              <Input
                id="companyEmail"
                v-model="$v.companyEmail.$model"
                name="companyEmail"
                label="Email"
                type="email"
                :state="validateState('companyEmail')"
                :invalid-feedback="
                  companyEmail
                    ? 'Wrong email format'
                    : 'This is a required field'
                "
                :class="{ required: editable }"
                :editable="editable"
                @keyup="doEdit('companyEmail')"
              />
              <Input
                id="personalEmail"
                v-model="$v.personalEmail.$model"
                name="personalEmail"
                label="Personal Email"
                :state="validateState('personalEmail')"
                :invalid-feedback="personalEmail ? 'Wrong email format' : ''"
                type="email"
                :editable="editable"
                @keyup="doEdit('personalEmail')"
              />
              <Input
                id="phoneNumber"
                v-model="$v.phoneNumber.$model"
                name="phoneNumber"
                label="Phone Number"
                type="number"
                :editable="editable"
                @keyup="doEdit('phoneNumber')"
              />
              <DatePicker
                id="birthdate"
                v-model="$v.birthdate.$model"
                name="birthdate"
                label="Birthdate"
                :editable="editable"
                @input="doEdit('birthdate')"
              />
            </b-col>

            <b-col cols="12" :style="[edit ? { display: 'none' } : {}]">
              <label class="group-label">BANK INFORMATION</label>
              <Input
                id="bankName"
                v-model="$v.bankName.$model"
                name="bankName"
                label="Bank name"
                type="text"
                :editable="editable"
              />
              <Input
                id="accountNumber"
                v-model="$v.accountNumber.$model"
                name="accountNumber"
                label="Account number"
                type="text"
                :editable="editable"
              />
            </b-col>
            <b-col cols="12">
              <label class="group-label">ADDRESS</label>
              <TextArea
                id="address"
                v-model="$v.address.$model"
                name="address"
                label="Address line"
                :editable="editable"
                @keyup="doEdit('address')"
              />
              <b-row>
                <b-col cols="6">
                  <AddressSelect
                    id="country"
                    v-model="$v.country.$model"
                    label="Country"
                    name="country"
                    :state="validateState('country')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    :country="country"
                    :edit="edit"
                    @edit-employee="doEdit('address')"
                  />
                </b-col>
                <b-col cols="6">
                  <AddressSelect
                    id="region"
                    v-model="$v.region.$model"
                    label="Region"
                    name="region"
                    :state="validateState('region')"
                    invalid-feedback="This is a required field"
                    :class="{ required: editable }"
                    :editable="editable"
                    :reg-country="country"
                    :region="region"
                    :edit="edit"
                    @edit-employee="doEdit('address')"
                  />
                </b-col>
              </b-row>
              <Input
                id="city"
                v-model="$v.city.$model"
                name="city"
                label="City"
                :state="validateState('city')"
                :class="{ required: editable }"
                invalid-feedback="This is a required field"
                :editable="editable"
                :style="{ width: '40%' }"
                @keyup="doEdit('address')"
              />
            </b-col>
          </b-col>
        </b-col>
        <b-col v-if="!editable || edit">
          <div class="status-box">
            <Select
              id="isActive"
              v-model="$v.isActive.$model"
              name="isActive"
              label="Employee Status"
              :state="validateState('isActive')"
              :options="[
                { value: '', text: 'Choose one' },
                'Active',
                'Disabled'
              ]"
              invalid-feedback="This is a required field"
              :class="{ required: editable }"
              :editable="editable"
              :edit="edit"
              :value="isActive"
              @input="doEdit('status')"
            />
            <div
              :class="isActive === 'Active' ? 'status-mark' : 'status-mark-dis'"
            ></div>
          </div>
        </b-col>
        <b-col v-else></b-col>
      </b-row>
    </b-form>
  </b-container>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { Validations } from 'vuelidate-property-decorators'
import { validationMixin } from 'vuelidate'
import { required, minValue, email } from 'vuelidate/lib/validators'
import { pathOr } from 'ramda'
import Gravatar from 'vue-gravatar'
import AddressSelect from '@/components/Form/AddressSelect.vue'
import Input from '@/components/Form/Input.vue'
import TextArea from '@/components/Form/TextArea.vue'
import Select from '@/components/Form/Select.vue'
import Radio from '@/components/Form/Radio.vue'
import DatePicker from '@/components/Form/DatePicker.vue'
import TagsInput from '@/components/Form/TagsInput.vue'

import {
  CreateEmployee,
  SalaryType,
  Employee,
  EditEmployeePayload
} from '@/types/employee'

@Component({
  components: {
    Input,
    Select,
    DatePicker,
    Radio,
    TagsInput,
    AddressSelect,
    TextArea,
    'v-gravatar': Gravatar
  },
  mixins: [validationMixin]
})
export default class EmployeeForm extends Vue {
  @Prop({}) private employee?: Employee
  @Prop({ required: true }) private editable!: boolean
  @Prop({}) private edit!: boolean

  created() {
    this.initializeForm()
  }

  private id: string | undefined = ''
  private displayName = ''
  private isActive = ''
  private firstName = ''
  private middleName = ''
  private lastName = ''
  private secondLastName = ''
  private gender = ''
  private companyEmail = ''
  private personalEmail = ''
  private tags: string[] | string = []
  private country = ''
  private region = ''
  private city = ''
  private bankName = ''
  private accountNumber = ''
  private address = ''
  private phoneNumber = ''
  private birthdate = this.$date().format('YYYY-MM-DD')
  private startDate = this.$date().format('YYYY-MM-DD')
  private effectiveDate = this.$date().format('YYYY-MM-DD')
  private salary = 0
  private salaryType = SalaryType.HOURLY
  private salaryTypes = [
    { value: SalaryType.HOURLY, text: 'Hourly' },
    { value: SalaryType.YEARLY, text: 'Yearly' }
  ]

  private timeout: NodeJS.Timeout | null = null

  @Watch('employee')
  initializeForm() {
    if (this.employee) {
      const {
        id,
        displayName,
        firstName,
        middleName,
        lastName,
        secondLastName,
        gender,
        companyEmail,
        personalEmail,
        birthdate,
        startDate,
        effectiveDate,
        salary,
        salaryType,
        country,
        city,
        region,
        bankName,
        address,
        accountNumber,
        phoneNumber,
        tags,
        isActive
      } = this.employee
      this.id = id
      this.displayName = displayName
      this.firstName = firstName
      this.middleName = middleName || ''
      this.lastName = lastName
      this.secondLastName = secondLastName || ''
      this.gender = gender.charAt(0).toUpperCase() + gender.slice(1)
      this.companyEmail = companyEmail
      this.personalEmail = personalEmail
      this.birthdate = this.$date(birthdate).format('YYYY-MM-DD')
      this.startDate = this.$date(startDate).format('YYYY-MM-DD')
      this.effectiveDate = this.$date(effectiveDate).format('YYYY-MM-DD')
      this.salary = salary
      this.salaryType = salaryType
      this.country = country
      this.city = city
      this.region = region
      this.bankName = bankName
      this.address = address
      this.accountNumber = accountNumber
      this.phoneNumber = phoneNumber
      console.log('tags', tags)
      if (tags) {
        this.tags = JSON.parse(tags)
      }
      this.isActive = isActive ? 'Active' : 'Disabled'
    }
  }

  editEmployee(
    fields: string[],
    endpoint: string,
    validateEdit: boolean = false
  ) {
    if (validateEdit && !this.edit) {
      return
    }
    if (this.timeout) {
      clearTimeout(this.timeout)
      this.timeout = null
    }
    this.timeout = setTimeout(() => {
      this.$v.$touch()
      if (this.$v.$anyError) {
        return null
      }
      const payload: EditEmployeePayload = this.acceptEdit(endpoint)
      this.$emit('submit', payload, fields, endpoint)
    }, 1000)
  }

  @Validations()
  validations = {
    displayName: { required },
    firstName: { required },
    middleName: {},
    lastName: { required },
    secondLastName: {},
    gender: { required },
    companyEmail: { required, email },
    personalEmail: { email },
    birthdate: {},
    startDate: { required },
    effectiveDate: { required },
    salary: { required, minValue: minValue(0.1) },
    salaryType: {},
    tags: {},
    country: { required },
    city: { required },
    region: { required },
    address: {},
    bankName: {},
    accountNumber: {},
    phoneNumber: {},
    isActive: {}
  }

  doEdit(
    field:
      | 'tags'
      | 'displayName'
      | 'names'
      | 'salaryType'
      | 'salary'
      | 'effectiveDate'
      | 'companyEmail'
      | 'personalEmail'
      | 'phoneNumber'
      | 'birthdate'
      | 'address'
      | 'status'
  ) {
    let fields = []
    let validate: boolean = false
    switch (field) {
      case 'names':
        fields = ['firstName', 'middleName', 'lastName', 'secondLastName']
        validate = true
        break
      case 'address':
        fields = ['city', 'region', 'country', 'address']
        validate = true
        break
      case 'tags':
        fields = [field]
        break
      case 'displayName':
      case 'salaryType':
      case 'salary':
      case 'effectiveDate':
      case 'companyEmail':
      case 'personalEmail':
      case 'phoneNumber':
      case 'birthdate':
      case 'status':
        fields = [field]
        validate = true
        break

      default:
        return
    }
    this.editEmployee(fields, field, validate)
  }

  acceptEdit(endpoint: string): EditEmployeePayload {
    const {
      id,
      displayName,
      companyEmail,
      personalEmail,
      salary,
      salaryType,
      phoneNumber
    } = this

    let data = {}
    switch (endpoint) {
      case 'tags':
        data = {
          tags: JSON.stringify(this.tags)
        }
        break
      case 'birthdate':
        data = {
          birthdate: this.$date(this.birthdate).toISOString()
        }
        break
      case 'effectiveDate':
        data = {
          effectiveDate: this.$date(this.effectiveDate).toISOString()
        }
        break
      case 'address':
        data = {
          country: this.country,
          city: this.city,
          region: this.region,
          address: this.address
        }
        break
      case 'names':
        data = {
          firstName: this.firstName,
          middleName: this.middleName,
          lastName: this.lastName,
          secondLastName: this.secondLastName
        }
        break
      case 'displayName':
        data = {
          displayName
        }
        break
      case 'personalEmail':
        data = {
          personalEmail
        }
        break
      case 'companyEmail':
        data = {
          companyEmail
        }
        break
      case 'salary':
        data = {
          salary
        }
        break
      case 'salaryType':
        data = {
          salaryType
        }
        break
      case 'phoneNumber':
        data = {
          phoneNumber
        }
        break
      case 'status':
        if (this.edit) {
          if (this.isActive === 'Active') {
            this.$emit('activate', this.id)
          } else if (this.isActive === 'Disabled') {
            this.$emit('deactivate', this.id)
          }
        }
        break
      default:
        break
    }

    return {
      id,
      data
    } as EditEmployeePayload
  }

  validateState(name: string) {
    const { $dirty, $error } = pathOr(
      { $dirty: undefined, $error: undefined },
      [name],
      this.$v
    )
    // console.log(name, $dirty, $error)
    return $dirty ? !$error : null
  }

  handleSubmit(): CreateEmployee | null {
    this.$v.$touch()
    if (this.$v.$anyError) {
      return null
    }
    const {
      displayName,
      firstName,
      middleName,
      lastName,
      secondLastName,
      gender,
      companyEmail,
      personalEmail,
      birthdate,
      startDate,
      effectiveDate,
      salary,
      salaryType,
      tags,
      country,
      city,
      region,
      bankName,
      accountNumber,
      address,
      phoneNumber
    } = this
    return {
      displayName,
      firstName,
      middleName,
      lastName,
      secondLastName,
      gender,
      companyEmail,
      personalEmail,
      birthdate: this.$date(birthdate).format('YYYY-MM-DD[T]HH:mm:ss'),
      effectiveDate: this.$date(effectiveDate).format('YYYY-MM-DD[T]HH:mm:ss'),
      startDate: this.$date(startDate).format('YYYY-MM-DD[T]HH:mm:ss'),
      salary,
      salaryType,
      tags: JSON.stringify(tags),
      country,
      city,
      region,
      bankName,
      accountNumber,
      address,
      phoneNumber
    } as CreateEmployee
  }
}
</script>

<style>
body {
  background-color: #eef2f3;
  color: #4f4f4f;
}

.group-label {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 6px;
}
.form-container {
  align-self: center;
  border-radius: 10px;
  background-color: #fff;
  width: 96%;
  padding-top: 2em;
  padding-bottom: 40px;
}

.required label:after {
  content: ' *';
  color: red;
}

.avatar-form {
  margin-left: 42px;
}
.avatar-form,
img {
  width: 180px;
  height: 180px;
  border: solid 1px #13bc74;
  padding: 8px;
  display: block;
  border-radius: 500px;
}

.avatar,
img {
  float: none;
  margin: 0;
}

.status-box {
  border-radius: 10px;
  border: solid 1px #f4f4f4;
  padding: 18px 18px 18px 18px;
  margin-top: 20px;
  position: relative;
}

.status-mark {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 100px;
  background-color: #13bc74;
}

.status-mark-dis {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 100px;
  background-color: #cacaca;
}

.tags-box {
  border-radius: 10px;
  border: solid 1px #f4f4f4;
  padding: 18px 18px 18px 18px;
  margin-top: 20px;
  position: relative;
}

.tags-container {
  position: relative;
}
</style>
